<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="Generator" content="Vim/7.3">
<meta name="plugin-version" content="vim7.3_v10">
<meta name="syntax" content="none">
<meta name="settings" content="use_css,pre_wrap">


</head>
<body>
<pre>

</pre>


<!--- Fix this logo to the far left in the css -->
<div id="logo">
	<a href="#" class="drop slide"><img src="/img/power-button.png" width="150px" /></a>
</div>

<!-- This is the slate banner at the top, sized and fixed by css -->
<div id="banner">
<h2 id="marquee">The Personal Site of</br>Shaun Johnson</h2>

</div>


<div id="header" class="fixed">	
	<div class="container container_12">
		<div class="logo grid_3 alpha">
		</div>
		<div class="grid_9 navigation omega">
			<ul id="nav">
			  				
	<li class="logospace">
				&nbsp;
				</li>
	<li><a href="#details" class="drop slide">About</a>
				</li>
	<li><a href="#why" class="drop slide">Connect</a>

			  </li>			
				<li><a href="#when_where" class="drop slide">Blog</a>
				</li>
				<li><a href="#nutshell" class="drop slide ">What I Do</a>	
				</li>			
			</ul>	
		</div>	
		<div class="clear"> </div>
	</div>
</div>

</body>



<!-- Renders each static page on the infiniti scroll page -->

<div>

  <%= render "spacer" %>

  <%= render "details" %>

  <%= render "why" %>

  <%= render "when_where" %>

  <%= render "nutshell" %>

  <%= render "hero" %>

</div>

